.UnAuthContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    min-height: 100vh;
    flex: 1;

    .logo {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 40px;

        img {
            height: 120px;
        }
    }

    .formContainer {
        width: 100%;
        display: flex;
        flex-direction: column;
        padding: 100px 50px;
        border: 1px solid #ccf3ff;
        border-top: 0;
        border-bottom: 0;
        border-radius: 8px;
        width: 100%;
        max-width: 472px;
        margin: 0 auto;
    }
}

.AuthContainer {
    display: flex;
    flex-direction: column;
    width: 100%;
    height: 100vh;

    .header {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 20px 40px;
        border-bottom: 1px solid #ccf3ff;

        .logo{
            img{
                height: 100px;
            }
        }

        .userInfo{
            .user {
                font-size: 18px;
                color: #046DB5;
                margin-bottom: 8px;
                display: flex;
                align-items: center;

                svg {
                    margin-right: 8px;
                    fill: red;
                }
            }
        }
    }

    .main {
        display: flex;
    }
}