.container {
	display: flex;
	flex-direction: column;
	min-height: 40px;
	position: relative;
	
	.label {
		font-size: 14px;
		font-weight: medium;
		line-height: 21px;
		color: #222;
		height: 21px;
	}

	.error {
		font-size: 11px;
		font-weight: normal;
		line-height: 16.5px;
		color: #777;
		margin-bottom: 5px;
	}

	.input {
		width: 100%;
		height: 40px;
		padding: 0 16px;
		border: 1px solid #777;
		border-radius: 5px;
		font-size: 14px;
		font-weight: normal;
		line-height: 21px;
		color: #222;
		background-color: white;
		outline: none;
		z-index: 2; 

		&::placeholder {
			color: #777;
		}

		&:-webkit-autofill,
		&:-webkit-autofill:hover, 
		&:-webkit-autofill:focus {
			border: 1px solid #777;
		  -webkit-text-fill-color: #09071F;
		  -webkit-box-shadow: 0 0 0px 1000px #fff inset;
		  transition: background-color 5000s ease-in-out 0s;
		}
	}
}

.textarea {
	padding-top: 13px;
}

.label {
	.input {
		margin-top: 6px;
	}
	
	.password {
		top: 27px;
	}
	
	.leftIcon {
		top: 27px;
	}

	.rightIcon {
		top: 27px;
	}
}

.fullWidth {
	width: 100%;
}

.password {
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 40px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.leftIcon {
	position: absolute;
	left: 0;
	top: 0;
	width: 40px;
	height: 40px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.left {
	.input {
		padding-left: 40px;
	}

	.leftIcon {
		svg {
			width: 16px;
			height: 16px;
		}
	}
}

.rightIcon {
	position: absolute;
	right: 0;
	top: 0;
	width: 40px;
	height: 40px;
	cursor: pointer;
	display: flex;
	align-items: center;
	justify-content: center;
}

.right {
	.input {
		padding-right: 40px;
	}

	.rightIcon {
		svg {
			width: 16px;
			height: 16px;
		}
	}
}

.message {
	.input {
		color: green;
		border: 1px solid green;
		margin-bottom: 6px;

		&::placeholder {
			color:rgba(0, 128, 0, 0.7);
		}
	}
	
	.error {
		color: green;
	}
}

.error {
	.input {
		color: red;
		border: 1px solid red;
		margin-bottom: 6px;

		&::placeholder {
			color:rgba(255, 0, 0, 0.7);
		}
	}
	
	.error {
		color: red
	}
}

.disabled {
	cursor: not-allowed;

	.label {
		color: gray;
	}

	.error {
		color:rgba(255, 0, 0, 0.7);
	}

	.input {
		color: gray;

		&::placeholder {
			color: gray;
		}
	}
}

.sm {
	min-height: 32px;

	.input {
		min-height: 32px
	}
	.password {
		min-height: 32px
	}
}

.md {
	min-height: 40px;

	.input {
		height: 40px
	}
	.password {
		height: 40px
	}
}

.lg {
	min-height: 50px;

	.input {
		height: 50px;
	}
	.password {
		height: 50px;
	}
}

.shadow {
	box-shadow: 5px 10px 0 2px gray;
}

.borders {
	.input {
		border: 2px solid #222;
	}
}

.rightText {
	.input {
		text-align: right;
	}
}
