@import './../../../index.scss';

.LastTransferContainer {
  display: flex;
  flex-direction: column;
  padding: 40px;

  .header{
    font-size: 20px;
    border-bottom: 1px solid $darkBlue;
    font-weight: 500;
    color: $darkBlue;
  }

  .transfers {
    display: flex;
    flex-direction: column;
    margin-top: 12px;

    .item {
      display: flex;
      min-width: 500px;
      margin-top: 8px;

      .date {
        width: 100px;
      }

      .iban {
        width: 300px;
      }

      .price {
        width: 100px;
      }
    }
  }
}