$lightBlue: #ccf3ff;
$blue: #00a8de;
$darkBlue: #046db5;

$dark: #222;
$gray: #777;
$white: #ffff;


@mixin respond($breakpoint) {
  @if $breakpoint == mobilest {
    @media only screen and (max-width: 319px) {
      @content;
    }
  }

  @if $breakpoint == mobile {
    @media only screen and (min-width: 320px) and (max-width: 480px) {
      @content;
    }
  }

  @if $breakpoint == tablet {
    @media only screen and (min-width: 481px) and (max-width: 1024px) {
      @content;
    }
  }

  @if $breakpoint == desktop {
    @media only screen and (min-width: 1025px) {
      @content;
    }
  }
}

body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans",
    "Droid Sans", "Helvetica Neue", sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New", monospace;
}
