@import './../../../index.scss';

.NavigationContainer {
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;

  .navItem {
    padding: 0 16px;
    font-size: 20px;
    text-decoration: none;
    color: $darkBlue;
  }
}
